@model Devs2Blu.ProjetosAula._200Tauro.Web.Models.Entities.Imagem

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Imagem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ConteudoId" class="control-label"></label>
                <select asp-for="ConteudoId" class="form-control" asp-items="ViewBag.ConteudoId"></select>
                <span asp-validation-for="ConteudoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoImagem" class="control-label"></label>
                <input asp-for="EnderecoImagem" class="form-control" />
                <span asp-validation-for="EnderecoImagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
