@{
    ViewData["Title"] = "Página Inicial";
}

<div id="carouselExampleControls" class="carousel slide bg-secondary" style="--bs-bg-opacity: .3;" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <p style="text-align: center;">Cadastre-se no adiClub para receber <b>15% de desconto</b></p>
    </div>
    <div class="carousel-item">
      <p style="text-align: center;"><b>OFERTAS</b> para garantir o melhor da 200Tauro</p>
    </div>
    <div class="carousel-item">
      <p style="text-align: center;"><b>FRETE GRÁTIS</b> para todo o Brasil</p>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="promocao">
    <h2>Promoções</h2>
    <div id="carouselExampleIndicators" class="carousel slide bg-primary" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="card-group">
  <div class="card">
    <img src="~/img/TenisNikeAirFemPreto.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="~/img/TenisNikeAirFemBranco.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="~/img/TenisNikeEscapeVerdeFem.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
    </div>
    <div class="carousel-item">
        <div class="card-group">
  <div class="card">
    <img src="~/img/TenisNikeFlexExpRunFem.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="~/img/TenisNikeSwiftPretoFem.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="~/img/TenisNikeZoomXDegradeAzulVerdeFem.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
    </div>
    <div class="carousel-item">
        <div class="card-group">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>


    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
  