@model IEnumerable<Devs2Blu.ProjetosAula._200Tauro.Web.Models.Entities.Categoria>

<link rel="stylesheet" href="~/css/Galerias.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/titulos.css" asp-append-version="true" />
<h1 class="title">Categorias</h1>
<pv class ="title">
    <button class="creat"><a asp-action="Create">Create New</a></button>
</pv>
<div class="destaques">
    <div class="galeria-container">
        <div class="galeria-items">
<table class="table" style="max-width:100vw; box-sizing:border-box; overflow-x:hidden;"  >
        <tbody class=" d-flex">
    @foreach (var item in Model) {
            <tr>
                    <td class="titulo">
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
            </tr>
    }
        </tbody>
</table>
        </div>
    </div>
</div>
