@model IEnumerable<Devs2Blu.ProjetosAula._200Tauro.Web.Models.Entities.Categoria>

<link rel="stylesheet" href="~/css/titulocecntro.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/titulos.css" asp-append-version="true" />
<h1 class="title">Categorias</h1>
<pv class ="title">
    <button class="creat"><a asp-action="Create">Create New</a> </button>
</pv>

<div class="main"
    <div class="pokemon-boxes">
        @foreach(var item in Model) {
            <div class="cards">
                <div class="pokemon-box">
                    <div class="pokemon-box">
                        @Html.DisplayFor(modelItem => item.Nome)
                    </div>
                </div>
                <div class="pokemon-box">
                    <div class="pokemon-box">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>